<!--Footer-->
<footer class="exp-footer-style-2  exp-primary-bg">
    <div class="exp-footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-left">
                            <div class="exp-logo"><a routerLink='/'><img src="assets/img/logo.png" alt="logo"></a></div>
                            <div class="exp-footer-item-inner">
                                <p>Lorem Ipsum is not simply random text It has roots in a piece of classical Latin literature Latin.</p>
                            </div>
                            <div class="exp-footer-social">
                                <ul class="inline-block">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Generals</h6>
                            <ul>
                                <li><a routerLink='/about-one'>About</a></li>
                                <li><a routerLink='/service-one'>Service</a></li>
                                <li><a routerLink='/blog-left'>Blog</a></li>
                                <li><a routerLink='/contact-one'>Customer Supports</a></li>
                                <li><a routerLink='/pricing-one'>Pricing</a></li>
                                <li><a routerLink='/service-two'>What'New</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center-2">
                            <h6>Quick Links</h6>
                            <ul>
                                <li><a routerLink='/team-one'>Team Member</a></li>
                                <li><a routerLink='/blog-detail-left'>Blog</a></li>
                                <li><a routerLink='/project-one'>Project</a></li>
                                <li><a routerLink='/contact-one'>Career</a></li>
                                <li><a routerLink='/faq-one'>Faq</a></li>
                                <li><a routerLink='/contact-two'>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-right">
                            <h6>Subscribe Us</h6>
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="exp-btn-wrapper">
                                            <button type="button" class="btn btn-primary btn-lg btn-top-20">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid exp-dark-bg exp-footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-4">
                    <div class="exp-copyright-left">
                        <p>Copyright &copy; <a href="javascript:void(0)">Metropolitanthemes</a> - 2022</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-8">
                    <div class="exp-copyright-right">
                        <ul class="inline-block">
                            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                            <li><a href="javascript:void(0)">Privacy & Policy</a></li>
                            <li><a href="javascript:void(0)">Legal</a></li>
                            <li><a href="javascript:void(0)">Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--==END Footer==-->