<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-project-3 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Project Gallery</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Portfolio 3</span></p>
            </div>
        </div>
    </section>
</header>
<div class="exp-project-3">
    <div class="project-gallery magnific-gallery">
        <div class="container-fluid clearfix">
            <div class="gallery-size">
                <div class="pro-img  height-1 ">
                    <a href="assets/img/project/project-3/PRO-03-1.jpg">
                        <img src="assets/img/project/project-3/PRO-03-1.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img   height-2">
                    <a href="assets/img/project/project-3/PRO-03-5.jpg">
                        <img src="assets/img/project/project-3/PRO-03-5.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img  height-2">
                    <a href="assets/img/project/project-3/PRO-03-2.jpg">
                        <img src="assets/img/project/project-3/PRO-03-2.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img  height-1">
                    <a href="assets/img/project/project-3/PRO-03-6.jpg">
                        <img src="assets/img/project/project-3/PRO-03-6.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img  height-1">
                    <a href="assets/img/project/project-3/PRO-03-7.jpg">
                        <img src="assets/img/project/project-3/PRO-03-7.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img  height-2">
                    <a href="assets/img/project/project-3/PRO-03-8.jpg">
                        <img src="assets/img/project/project-3/PRO-03-8.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img  height-2">
                    <a href="assets/img/project/project-3/PRO-03-3.jpg">
                        <img src="assets/img/project/project-3/PRO-03-3.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
                <div class="pro-img height-1">
                    <a href="assets/img/project/project-3/PRO-03-4.jpg">
                        <img src="assets/img/project/project-3/PRO-03-4.jpg" alt="image" class="img-fluid mx-auto">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>