<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-blog-g primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Blog Grid</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Blog Grid Style 1</span></p>
            </div>
        </div>
    </section>
</header>
<div class="section-padding exp-services-1 exp-home2-updates exp-secondary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-1.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-1.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Charles C. Pruitt</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>New Step By Step Roadmap For StartUp in USA</a></h5>
                        <p>It is a long established fact that a reader will be distracted by the readable...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-2.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-2.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Ann N.Petillo</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Successful Stories You Didn’T Know About Business</a></h5>
                        <p>Lorem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-3.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-3.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Mark J.Castillo</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tricks</a></h5>
                        <p>The Most Incredible Article About Business You'll Ever Read</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-4.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-4.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Mildred J. Dunston</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Things that Make You Love and Hate Mobile Software</a></h5>
                        <p>Rorem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-5.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-5.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>John M.Anderson</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>15 Innovative Approaches to Improve Your Startup</a></h5>
                        <p>Rorem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-6.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-6.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Rose F.Hall</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Things that Make You Love and Hate Mobile Software</a></h5>
                        <p>There are many variations of passages of the rock Ipsum available, but the majority...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-7.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-1.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Chris L.Chitwood</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tricks</a></h5>
                        <p>Worem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-8.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-2.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Ann N.Petillo</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tricks</a></h5>
                        <p>There are many variations of passages of the rock Ipsum available, but the majority...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/blog/bg-9.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/blog/author-3.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Sharon R.Baverly</h6>
                            <p><a routerLink='/blog-detail-left'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tricks</a></h5>
                        <p>There are many variations of passages of the rock Ipsum available, but the majority...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>