<app-header></app-header>
<header>
    <section class="exp-banner-head primary-overlay" id="exp-inner-banner">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">About Us</h1>
                <p class="text-white">Home<span class="exp-primary-color">About Us 2</span></p>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-product-section exp-about-product1">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h3>Exvox is the Best Digital Agency Since 1998 in USA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <button type="button" class="btn btn-primary btn-top-50">Learn More</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side">
                        <img src="assets/img/about-us-1/about.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product b-->
<section class="section-padding exp-product-section exp-about-product2 light-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side">
                        <img src="assets/img/about-us-2/startup.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h3>How We Work for Your Business and Startup to Achieve Goal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient">1</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Define Buisness Problems</h6>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="orange-gradient">2</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>User Analysis and Market Research</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content when looking at its layout.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="green-gradient">3</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Prototype the ideas and User Testing</h6>
                                <p>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding  exp-about-workflow exp-about2-video">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-workflow-content">
                        <h3>We Ensure the Reliable Solutions for Every Client</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. </p>
                        <a routerLink='/contact-one' class="btn btn-primary btn-top-50">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side video-img">
                        <div class="img-wrap">
                            <img src="assets/img/about-us-2/solutions.jpg" alt="image">
                        </div>
                        <div class="video-btn-wrapper">
                            <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-values blue-top">
    <div class="container">
        <div class="section-title-center">
            <h3 class="text-white">Our Core Values</h3>
            <p class="text-white">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-padding exp-project-1">
    <div class="container clearfix">
        <div class="section-title-center">
            <h3>Our Top Projects</h3>
            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-portfolio-1 magnific-gallery">
            <div class="grid-item grid-sizer width-1 height-1"><a href="assets/img/project/about-p1.jpg"><img src="assets/img/project/about-p1.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item  grid-sizer"><a href="assets/img/project/about-p2.jpg"><img src="assets/img/project/about-p2.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item  grid-sizer"><a href="assets/img/project/about-p3.jpg"><img src="assets/img/project/about-p3.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item  grid-sizer width-4 height-1"><a href="assets/img/project/about-p4.jpg"><img src="assets/img/project/about-p4.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item grid-sizer width-2"><a href="assets/img/project/about-p8.jpg"><img src="assets/img/project/about-p8.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item grid-sizer width-1"><a href="assets/img/project/about-p5.jpg"><img src="assets/img/project/about-p5.jpg" alt="image" class="mx-auto img-fluid"></a></div>
            <div class="grid-item  grid-sizer"><a href="assets/img/project/about-p6.jpg"><img src="assets/img/project/about-p6.jpg" alt="image" class="img-fluid mx-auto"></a></div>
            <div class="grid-item  grid-sizer width-3"><a href="assets/img/project/about-p7.jpg"><img src="assets/img/project/about-p7.jpg" alt="image" class="mx-auto img-fluid"></a></div>
        </div>
    </div>
</div>
<section class="section-padding exp-about-testimonial light-bg">
    <div class="container">
        <div class="section-title-center">
            <h3>Client Feedback</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-about1-slider">
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-3.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-4.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-1.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-2.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-4.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>David Maroon</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-2/client-2.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>George Maxwell</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-team-2">
    <div class="container">
        <div class="section-title-center">
            <h3>Meet With Team Leaders</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-2/t-1.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Leontine F.Orton</h6>
                            <p>Project Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-2/t-2.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Micheal Phillips</h6>
                            <p>Product Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-2/t-3.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Farista David</h6>
                            <p>UI Designer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-2/t-4.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Rachel Maroon</h6>
                            <p>Programmer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>