<!-- Navigation -->
<div class="navigation-wrap pb-0 start-header start-style primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink='/'><img src="assets/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 01</a>
                                    <a class="dropdown-item" routerLink='/home-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 02</a>
                                    <a class="dropdown-item" routerLink='/home-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 03</a>
                                    <a class="dropdown-item" routerLink='/home-four' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 04</a>
                                    <a class="dropdown-item" routerLink='/home-five' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 05</a>
                                    <a class="dropdown-item" routerLink='/home-six' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 06</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/about-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us 01 </a>
                                    <a class="dropdown-item" routerLink='/about-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us 02 </a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/service-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 01 </a>
                                    <a class="dropdown-item" routerLink='/service-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 02</a>
                                    <a class="dropdown-item" routerLink='/service-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 03</a>
                                    <a class="dropdown-item" routerLink='/service-four' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 04</a>
                                    <a class="dropdown-item" routerLink='/service-five' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 05</a>
                                    <a class="dropdown-item" routerLink='/service-six' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services 06</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pricing</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/pricing-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pricing 01</a>
                                    <a class="dropdown-item" routerLink='/pricing-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pricing 02</a>
                                    <a class="dropdown-item" routerLink='/pricing-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pricing 03</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 mega-menu-link">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Banners</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Banners with solid</h6>
                                                <!--Blog Pages-->
                                                <a class="dropdown-item" routerLink='/banner-one-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Curve Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-two-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Triangle Asymmetrical</a>
                                                <a class="dropdown-item" routerLink='/banner-three-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Titl Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-four-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Triangle Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-six-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Curve Asymmetrical</a>
                                                <a class="dropdown-item" routerLink='/banner-seven-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Split Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-fourteen-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fan Opacity</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6 class="v-none">Banners with solid</h6>
                                                <a class="dropdown-item" routerLink='/banner-eight-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Zigzac Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-nine-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Waves Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-ten-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mountain Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-eleven-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Books Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-twelve-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pyramids Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-thirteen-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Animated Wave</a>
                                                <a class="dropdown-item" routerLink='/banner-fourteen-solid' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fan Opacity</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Banner with image</h6>
                                                <a class="dropdown-item" routerLink='/banner-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Curve Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Triangle Asymmetrical</a>
                                                <a class="dropdown-item" routerLink='/banner-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Titl Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-four' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Triangle Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-six' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Curve Asymmetrical</a>
                                                <a class="dropdown-item" routerLink='/banner-seven' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Split Banner</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6 class="v-none">Banner with image</h6>
                                                <a class="dropdown-item" routerLink='/banner-eight' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Zigzac Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-nine' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Waves Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-ten' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mountain Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-eleven' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Books Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-twelve' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pyramids Banner</a>
                                                <a class="dropdown-item" routerLink='/banner-thirteen' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Animated Wave</a>
                                                <a class="dropdown-item" routerLink='/banner-fourteen' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Fan Opacity</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 mega-menu-link">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Blog Pages</h6>
                                                <!--Blog Pages-->
                                                <a class="dropdown-item" routerLink='/blog-detail-left' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Details Left</a>
                                                <a class="dropdown-item" routerLink='/blog-detail-right' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Details Right</a>
                                                <a class="dropdown-item" routerLink='/blog-grid-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Grid Style 01</a>
                                                <a class="dropdown-item" routerLink='/blog-grid-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Grid Style 02</a>
                                                <a class="dropdown-item" routerLink='/blog-left' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Left Side</a>
                                                <a class="dropdown-item" routerLink='/blog-right' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog Right Side</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Others</h6>
                                                <a class="dropdown-item" routerLink='/faq-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ 01</a>
                                                <a class="dropdown-item" routerLink='/faq-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">FAQ 02</a>
                                                <a class="dropdown-item" routerLink='/coming-soon-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Coming Soon 01</a>
                                                <a class="dropdown-item" routerLink='/coming-soon-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Coming Soon 02</a>
                                                <a class="dropdown-item" routerLink='/error' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">404</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Team</h6>
                                                <a class="dropdown-item" routerLink='/team-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team Page 01</a>
                                                <a class="dropdown-item" routerLink='/team-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team Page 02</a>
                                                <a class="dropdown-item" routerLink='/team-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team Page 03</a>
                                                <a class="dropdown-item" routerLink='/team-four' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team Page 04</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mega-menu-inner">
                                                <h6>Projects</h6>
                                                <a class="dropdown-item" routerLink='/project-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Project 01</a>
                                                <a class="dropdown-item" routerLink='/project-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Project 02</a>
                                                <a class="dropdown-item" routerLink='/project-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Project 03</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 mega-menu-link">
                                <a class="nav-link" routerLink='/blog-right' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/contact-one' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact 01</a>
                                    <a class="dropdown-item" routerLink='/contact-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact 02</a>
                                </div>
                            </li>
                        </ul>
                        <div class="mega-menu-link" id="searchLink">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search"></i></a>
                            <div class="dropdown-menu mega-menu search-form">
                                <div class="row">
                                    <div class="col-12">
                                        <form role="search" method="get" id="searchform">
                                            <div class="input-group">
                                                <input type="text" id="searchbox" class="form-control" name="search-box">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" id="searchsubmit" type="submit">
                                                        Search
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="seperator"></div>
    </div>
</div>
<!--==END Navigation==-->