<!--==Footer==-->
<footer class="exp-footer-style-2" id="exp-home6-footer">
    <div class="exp-footer-wrapper">
        <div class="container">
            <div class="seperator"></div>
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-left">
                            <div class="exp-logo"><a routerLink='/'><img src="assets/img/homepage-6/logo2.png" alt="image"></a></div>
                            <div class="exp-footer-item-inner">
                                <p>Lorem Ipsum is not simply random text It has roots in a piece of classical Latin literature Latin.</p>
                            </div>
                            <div class="exp-footer-social">
                                <ul class="inline-block">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Generals</h6>
                            <ul>
                                <li><a routerLink='/about-one'>About</a></li>
                                <li><a routerLink='/service-one'>Service</a></li>
                                <li><a routerLink='/blog-left'>Blog</a></li>
                                <li><a routerLink='/contact-one'>Customer Supports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center-2">
                            <h6>Quick Links</h6>
                            <ul>
                                <li><a routerLink='/team-one'>Team Member</a></li>
                                <li><a routerLink='/blog-detail-left'>Blog</a></li>
                                <li><a routerLink='/project-one'>Project</a></li>
                                <li><a routerLink='/contact-one'>Career</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-right">
                            <h6>Subscribe Us</h6>
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="exp-btn-wrapper">
                                            <button type="button" class="btn btn-primary btn-lg btn-top-20">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="seperator"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper exp-footer-contact">
                        <div class="exp-footer-item-left">
                            <h6>Contact Information</h6>
                            <ul>
                                <li><span><i class="fas fa-phone-volume"></i></span><span>+880 1234 5678</span></li>
                            </ul>
                            <ul>
                                <li><span><i class="far fa-envelope"></i></span><a href="javascript:void(0)">contact@example.com</a></li>
                            </ul>
                            <ul>
                                <li><span><i class="fas fa-map-marker-alt"></i></span><span>123 level 5, New York USA</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Get in Touch</h6>
                            <ul>
                                <li><a routerLink='/pricing-one'>Payment</a></li>
                                <li><a routerLink='/faq-one'>Faq</a></li>
                                <li><a routerLink='/contact-two'>API Supports</a></li>
                                <li><a routerLink='/contact-one'>Customer Supports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 padding-right-0">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center-2">
                            <h6>Important Links</h6>
                            <ul>
                                <li><a routerLink='/about-one'>About</a></li>
                                <li><a routerLink='/team-one'>People</a></li>
                                <li><a routerLink='/project-one'>Platform</a></li>
                                <li><a routerLink='/contact-two'>Career</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper exp-insta-feed">
                        <div class="exp-footer-item-right">
                            <h6>Instagram Feed</h6>
                            <ul class="inline-block">
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-1.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-2.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-3.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-4.jpg" alt="img"></a></li>
                            </ul>
                            <ul class="inline-block">
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-5.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-6.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-7.jpg" alt="img"></a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/homepage-6/insta-8.jpg" alt="img"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  exp-footer-copyright exp-home6-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-4">
                    <div class="exp-copyright-left">
                        <p>Copyright &copy; <a href="javascript:void(0)">Metropolitanthemes</a> - 2022</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-8">
                    <div class="exp-copyright-right">
                        <ul class="inline-block">
                            <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                            <li><a href="javascript:void(0)">Privacy & Policy</a></li>
                            <li><a href="javascript:void(0)">Legal</a></li>
                            <li><a href="javascript:void(0)">Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>