<app-header></app-header>
<!--=====Header======-->
<header>
    <section class="banner-padding primary-overlay exp-home4-header hero-banner-curve">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-content-center">
                        <div class="exp-header-item">
                            <h1 class="text-white">We Are Here to Solve Your Business Problems in Better Ways</h1>
                            <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                            <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1600 116.19" preserveAspectRatio="none">
            <path fill="#fff" d="M0.1,119.43V67.45c0,0,99.87,71.51,322.45,8.12c5.56-1.66,92.01-26.52,125.74-35.72
  c77.28-21.08,219.28-41.4,311.28-38.34c233,7.77,323.98,82.1,469.23,96.61c149.64,14.94,288.45-12.46,371.26-36.99v55.34L0.1,119.43
  z"></path>
        </svg>
    </section>
</header>
<!--END Header-->
<!--Services a-->
<section class="section-padding exp-services-a">
    <div class="container">
        <div class="section-title-center">
            <h3>What Services We Offers</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="shout-icon-block"><i class="flaticon-shout shout-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Digital Marketing</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="code-icon-block"><i class="flaticon-computer code-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Design and Code</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="bulb-icon-block"><i class="flaticon-idea-1 bulb-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Creative Solutions</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Services a-->
<app-footer></app-footer>