<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-team1 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Team Members</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Team 1</span></p>
            </div>
        </div>
    </section>
</header>
<div class="section-padding exp-team-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-3.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Leontine F.Orton</h6>
                        <p class="exp-primary-color">UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-1.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Stacy Schwab</h6>
                        <p class="exp-primary-color">Product Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-2.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Sarah S.Sherman</h6>
                        <p class="exp-primary-color">Product Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-4.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Deanna Schmidt</h6>
                        <p class="exp-primary-color">Content Writer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-5.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Stela R.Roberto</h6>
                        <p class="exp-primary-color">Site Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-6.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>James Norwood</h6>
                        <p class="exp-primary-color">Graphic Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-7.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Sadiya Islam Tithi</h6>
                        <p class="exp-primary-color">Social Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="team-img">
                        <img src="assets/img/Team/team-8.jpg" alt="image">
                    </div>
                    <div class="team-content text-center">
                        <h6>Joseph M.Duckett</h6>
                        <p class="exp-primary-color">UX Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>