<app-header></app-header>
<header>
    <section class="banner-padding primary-overlay exp-home5-header">
        <div class="exp-home5-slider">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We Are Trusted <span class="exp-primary-color">Finance and Insurance</span> Company</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <form class="form-inline">
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Get Updates</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-content-center d-none d-lg-flex">
                            <div class="video-btn-wrapper">
                                <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We Are Trusted <span class="exp-primary-color">Finance and Insurance</span> Company</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <form class="form-inline">
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Get Updates</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-content-center d-none d-lg-flex">
                            <div class="video-btn-wrapper">
                                <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=nfMTdwhQbdE"><i class="fas fa-play"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We Are Trusted <span class="exp-primary-color">Finance and Insurance</span> Company</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <form class="form-inline">
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="Business Name" aria-label="Business Name">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Get Updates</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-content-center d-none d-lg-flex">
                            <div class="video-btn-wrapper">
                                <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=nfMTdwhQbdE"><i class="fas fa-play"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-services-a exp-services-4 exp-services-5">
    <div class="container">
        <div class="section-title-center">
            <h2>What We Do For Buisnessess</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-piggy-bank"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Finance Support</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-five'>Learn More<span><i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-stats"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Business Analytics</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-five'>Learn More<span><i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-negotiating"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Buisness Consultation</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-five'>Learn More<span><i class="fas fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-triangle">
                        <img src="assets/img/homepage-5/trust.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Achieved the Customers <span class="exp-primary-color">Trust Across the World</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Ensure the Success of <span class="exp-primary-color">Your
                                Products and Business</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-img-wrapper right-triangle">
                        <img src="assets/img/homepage-5/business.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-triangle">
                        <img src="assets/img/homepage-5/digital.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>Best Digital Agency Since <span class="exp-primary-color">1998 Over the Internet</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/about-one' class="btn btn-primary btn-top-70">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-values exp-home5-values primary-overlay" style="background-image: url('assets/img/homepage-5/our-banner.jpg');" data-overlay="3">
    <div class="container">
        <div class="section-title-center">
            <h2 class="text-white">Our Core Values</h2>
            <p class="light-color">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="exp-home5-video">
        <div class="container">
            <div class="section-title-center">
                <h2 class="text-white">How We Work For You</h2>
                <p class="light-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="video-content secondary-overlay">
                        <div class="video-btn-wrapper">
                            <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home3-testimonial exp-home5-testimonial">
    <div class="container">
        <div class="section-title-center">
            <h2>What Client Says About Us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="home3-testimonial">
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-2.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-3.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-4.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-5.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-3.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-5/client-1.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-five'><i class="fab fa-twitter"></i></a>
                        </div>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                        <span></span>
                        <div class="blockquote">
                            <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        </div>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="exp-blog5" class="section-padding exp-secondary-bg">
    <div class="container">
        <div class="section-title-center">
            <h2>Latest Blog Posts</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">29</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-5/h5-blog1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline One</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">28</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-5/h5-blog2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Two</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">24</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-5/h5-blog3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Three</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more<i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<section class="section-padding exp-faq-1  exp-pricing-accordion">
    <div class="container">
        <div class="section-title-center">
            <h2>Frequently Asked Questions</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="Generals-tab" data-toggle="tab" href="#Generals" role="tab" aria-controls="Generals" aria-selected="true"><span><i class="flaticon-question"></i></span>
                        <p>Generals</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Packages-tab" data-toggle="tab" href="#Packages" role="tab" aria-controls="Packages" aria-selected="false"><span><i class="flaticon-bug"></i></span>
                        <p>Packages</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Supports-tab" data-toggle="tab" href="#Supports" role="tab" aria-controls="Supports" aria-selected="false"><span><i class="flaticon-shopping-list"></i></span>
                        <p>Supports</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="consultation-tab" data-toggle="tab" href="#consultation" role="tab" aria-controls="consultation" aria-selected="false"><span><i class="flaticon-help"></i></span>
                        <p>Consultation</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active show" id="Generals">
                <div id="accordion1" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    How do i get finance support for my business?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do i knew about any better opportunity
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfour">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingfive">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingsix">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapsesix" class="collapse" aria-labelledby="headingfive" data-parent="#accordion1">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Packages">
                <div id="accordion2" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    How do i get finance support for my business?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    How do i knew about any better opportunity
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEleven">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwelve">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion2">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Supports">
                <div id="accordion3" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingNinteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">
                                    How do i get finance support for my business?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNinteen" class="collapse" aria-labelledby="headingNinteen" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwenty">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                    How do i knew about any better opportunity
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwentyOne">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwentyOne" class="collapse" aria-labelledby="headingTwentyOne" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwentyTwo">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwentyTwo" class="collapse" aria-labelledby="headingTwentyTwo" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwentyThree">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwentyThree" class="collapse" aria-labelledby="headingTwentyThree" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwentyFour">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#accordion3">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="consultation">
                <div id="accordion4" class="myaccordion">
                    <div class="card">
                        <div class="card-header" id="headingThirteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                    How do i get finance support for my business?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFourteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    How do i knew about any better opportunity
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFifteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSixteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeventen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventen" aria-expanded="false" aria-controls="collapseSeventen">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeventen" class="collapse" aria-labelledby="headingSeventen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEighteen">
                            <h2 class="mb-0">
                                <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                    Does Startup allows to share user data?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion4">
                            <div class="card-body">
                                <h6>How to get Started?</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore padani pola magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-four></app-footer-four>
