<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-team-4 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Team Members</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Team 4</span></p>
            </div>
        </div>
    </section>
</header>
<div class="section-padding exp-team-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-8.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Kerry J. Hernandes</h6>
                        <p class="exp-primary-color">UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-7.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Diana H. Obrien</h6>
                        <p class="exp-primary-color">Product Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-6.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Steven M. Mower</h6>
                        <p class="exp-primary-color">Graphic Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-5.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Linda C.Abrams</h6>
                        <p class="exp-primary-color">2D Illustrator</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-4.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Stephaie J. Mauldin</h6>
                        <p class="exp-primary-color">3D Artist</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-3.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Antonio B. Cato</h6>
                        <p class="exp-primary-color">Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-2.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Blanche J. Knorr</h6>
                        <p class="exp-primary-color">UI/UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-1.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Gerald V.Fickur</h6>
                        <p class="exp-primary-color">Motion Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-3-7.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Micheal A. Rice</h6>
                        <p class="exp-primary-color">UX Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-04-1.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Grace A.Roeder</h6>
                        <p class="exp-primary-color">Interface Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-04-2.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Scott C. Everett</h6>
                        <p class="exp-primary-color">Product Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-4/team-04-3.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Denise C. Jeffery</h6>
                        <p class="exp-primary-color">Photo Editor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>