<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-4 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Our Services</h1>
                <p class="text-white">Home<span class="exp-primary-color">Services 6</span></p>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-services-a exp-services-4 exp-services-5 exp-services-6">
    <div class="container">
        <div class="section-title-center">
            <h3>What Services We Provide</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-piggy-bank"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Finance Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-stats"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>User Analytics</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-idea"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Brand Development</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-negotiating"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Consultation</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-graph"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Market Research</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-save-money"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Capital Management</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-multimedia"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Digital Marketing</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span><i class="flaticon-analytics-1"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Investment Analysis</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>