<app-header></app-header>
<section class="exp-home2-header">
    <div class="exp-home2-slider">
        <div class="exp-home2-banner primary-overlay bg-1">
            <div class="container">
                <div class="banner-title text-center">
                    <h1 class="text-white">We Are Here to Support And Grow Your Startup and Online Business</h1>
                    <p class="text-light">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                    <a routerLink='/home-two' class="btn btn-primary btn-top-70">Get Started</a>
                </div>
            </div>
        </div>
        <div class="exp-home2-banner primary-overlay bg-2">
            <div class="container">
                <div class="banner-title text-center">
                    <h1 class="text-white">We Are Here to Support And Grow Your Startup and Online Business</h1>
                    <p class="text-light">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                    <a routerLink='/home-two' class="btn btn-primary btn-top-70">Get Started</a>
                </div>
            </div>
        </div>
        <div class="exp-home2-banner primary-overlay bg-3">
            <div class="container">
                <div class="banner-title text-center">
                    <h1 class="text-white">We Are Here to Support And Grow Your Startup and Online Business</h1>
                    <p class="text-light">Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                    <a routerLink='/home-two' class="btn btn-primary btn-top-70">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="exp-home2-thumbnail">
        <ul class="exp-thumbnail-slider inline-block">
            <li>
                <img src="assets/img/homepage-2/small-banner-1.jpg" alt="image">
            </li>
            <li>
                <img src="assets/img/homepage-2/small-banner-2.jpg" alt="image">
            </li>
            <li>
                <img src="assets/img/homepage-2/small-banner-3.jpg" alt="image">
            </li>
            <li>
                <img src="assets/img/homepage-2/small-banner-2.jpg" alt="image">
            </li>
        </ul>
    </div>
</section>
<section class="section-padding exp-home2-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-content-center">
                <div class="exp-about-title">
                    <p class="exp-primary-color">Our Values and Goals</p>
                    <h2>What We Do For Your Business</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a routerLink='/service-one' class="btn btn-primary">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="exp-about-wrapper">
                    <div class="exp-about-slider">
                        <div class="exp-about-item">
                            <div class="about-img">
                                <img src="assets/img/homepage-2/research-1.jpg" alt="image">
                            </div>
                            <div class="about-content">
                                <h6>Market Research</h6>
                                <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</p>
                                <a routerLink='/service-one'>Learn more<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="exp-about-item">
                            <div class="about-img">
                                <img src="assets/img/homepage-2/research-2.jpg" alt="image">
                            </div>
                            <div class="about-content">
                                <h6>Market Research</h6>
                                <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</p>
                                <a routerLink='/service-one'>Learn more<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="exp-about-item">
                            <div class="about-img">
                                <img src="assets/img/homepage-2/research-3.jpg" alt="image">
                            </div>
                            <div class="about-content">
                                <h6>Market Research</h6>
                                <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</p>
                                <a routerLink='/service-one'>Learn more<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="exp-about-item">
                            <div class="about-img">
                                <img src="assets/img/homepage-2/research-1.jpg" alt="image">
                            </div>
                            <div class="about-content">
                                <h6>Market Research</h6>
                                <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</p>
                                <a routerLink='/service-one'>Learn more<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="exp-about-item">
                            <div class="about-img">
                                <img src="assets/img/homepage-2/research-2.jpg" alt="image">
                            </div>
                            <div class="about-content">
                                <h6>Market Research</h6>
                                <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</p>
                                <a routerLink='/service-one'>Learn more<i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product a-->
<section class="section-padding exp-product-section exp-home2-product-a exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-triangle">
                        <img src="assets/img/homepage-2/product-3.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <p class="exp-primary-color">Our Values and Goals</p>
                        <h2>Best Digital Agency Since 1998 Over the Internet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        <ul class="exp-product-points">
                            <li><span><i class="flaticon-checkmark"></i></span><span>Many passages of Lorem Ipsum available, but the majority.
                                </span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available.</span></li>
                        </ul>
                        <div class="exp-ceo">
                            <h6>Rashadel Islam Kabir</h6>
                            <p class="exp-primary-color">CEO and Founder</p>
                        </div>
                        <div class="exp-signature">
                            <img src="assets/img/homepage-1/sign.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product b-->
<section class="section-padding exp-product-section exp-home2-product-b">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <p class="exp-primary-color">How We Work</p>
                            <h2>How We Work for Your Business and Startup</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient">1</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Proper Market Research</h6>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="orange-gradient">2</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>User Analysis and Reporting</h6>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="green-gradient">3</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Prototype and Development</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-triangle">
                        <img src="assets/img/homepage-2/startup.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Video Section-->
<section class="section-padding primary-overlay exp-home2-video">
    <div class="container">
        <div class="section-title-center">
            <p class="light-color">Overview</p>
            <h2 class="text-white">Reliable Solutions that Help to Success in Your Online Business</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="exp-video-main">
                    <div class="video-btn-wrapper">
                        <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-values">
    <div class="container">
        <div class="section-title-center">
            <h2>Our Core Values</h2>
            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-project-2 exp-home2-portfolio ">
    <div class="container">
        <div class="section-title-center">
            <h2>Our Project Gallery</h2>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="Marketing-tab" data-toggle="tab" href="#Marketing" role="tab" aria-controls="Marketing" aria-selected="true">Marketing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="Design-tab" data-toggle="tab" href="#Design" role="tab" aria-controls="Design" aria-selected="false">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Development-tab" data-toggle="tab" href="#Development" role="tab" aria-controls="Development" aria-selected="false">Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Supports-tab" data-toggle="tab" href="#Supports" role="tab" aria-controls="Supports" aria-selected="false">Supports</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container portfolio-cont">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Marketing">
                        <div class="wrapper">
                            <div class="home2-portfolio">
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Design">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Development">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Supports">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-2/homepage-2-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Price and Plans -->
<section class="section-padding exp-pricing-plans exp-pricing-plans-2 blue-bottom big-margin">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Pricing and Plans</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active padding-0" id="Monthly">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none top-80 pencil-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-pencil></i></span>
                                <h4>Professional</h4>
                                <p class="exp-price-mrp">$39<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none rocket-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-rocket></i></span>
                                <h4>Business</h4>
                                <p class="exp-price-mrp">$59<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none top-80 building-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-urban></i></span>
                                <h4>Enterprise</h4>
                                <p class="exp-price-mrp">$99<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home2-testimonial">
    <div class="container-fluid">
        <div class="section-title-center">
            <h2>What Our Customer Says</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-testimonial-slider2">
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/testimonial-3.png" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/customer-2.jpg" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/customer-3.jpg" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/customer-1.jpg" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/customer-4.jpg" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-testimonial-item-inner">
                    <div class="exp-testimonial-img">
                        <img src="assets/img/homepage-2/customer-3.jpg" alt="image">
                    </div>
                    <div class="exp-testimonial-content col-content-center">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="exp-author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-services-1 exp-home2-updates exp-secondary-bg">
    <div class="container">
        <div class="section-title-center">
            <h2>Latest Project Updates</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-2/latest-1.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/homepage-2/admin-1.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Rifat Hasan Raju</h6>
                            <p><a routerLink='/home-two'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>New Step By Step Roadmap For StartUp in USA</a></h5>
                        <p>It is a long established fact that a reader will be distracted by the readable...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-2/latest-2.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/homepage-2/admin-2.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Sanjana Parvin</h6>
                            <p><a routerLink='/home-two'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Successful Stories You Didn’T Know About Business</a></h5>
                        <p>Lorem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <article class="exp-services-wrapper box-shadow">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-2/latest-3.jpg" alt="image"></a>
                    </div>
                    <div class="post-meta">
                        <div class="author-img"><img src="assets/img/homepage-2/admin-3.jpg" alt="image"></div>
                        <div class="author-meta">
                            <h6>Radiya Islam Tithi</h6>
                            <p><a routerLink='/home-two'>Admin</a> | 25 January , 2022</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tips & Tricks</a></h5>
                        <p>There are many variations of passages of the rock Ipsum available, but the majority...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home2-download">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-content-center">
                <div class="download-wrap">
                    <h2>Download Our Mobile App</h2>
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                    <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices Letraset sheets containing gravida. </p>
                    <a routerLink='/home-two' class="btn btn-primary btn-top-50">Download Now</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="download-circle">
                    <div class="download-img-1">
                        <img src="assets/img/homepage-2/mob-1.jpg" alt="image">
                    </div>
                    <div class="download-img-2">
                        <img src="assets/img/homepage-2/mob-2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-two></app-footer-two>