<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-blog-g-2 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Blog Grid</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Blog Grid Style 2</span></p>
            </div>
        </div>
    </section>
</header>
<div id="exp-blog5" class="section-padding light-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">29</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline One</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">28</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Two</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">24</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Three</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more<i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">24</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-4.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Four</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">21</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Five</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">13</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-6.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headlines Six</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more<i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">08</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Seven</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">06</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-8.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Eight</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">03</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/blog/grid-2-5.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Nine</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more<i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>