<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-bl primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Blog Left Side</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Blog Left Side</span></p>
            </div>
        </div>
    </section>
</header>
<div id="exp-blog5" class="section-padding light-white-bg">
    <div class="container">
        <div class="row col-reverse">
            <div class="col-lg-5">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
            <div class="col-lg-7">
                <article class="exp-blog-post-wrap exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">29</span>
                            <span class="month">June</span>
                        </div>
                        <a routerLink='/blog-detail-left'>
                            <img src="assets/img/blog/b-learn1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered.</a> </h5>
                        <p>Rorem Ipsum is simply dummy text of printing and type setting industr. Unknown printer took a galley of type and scrambled it to make a type specimen book...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
                <article class="exp-blog-post-wrap exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">28</span>
                            <span class="month">June</span>
                        </div>
                        <a routerLink='/blog-detail-left'>
                            <img src="assets/img/blog/b-learn2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered.</a> </h5>
                        <p>These are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
                <article class="exp-blog-post-wrap exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">26</span>
                            <span class="month">June</span>
                        </div>
                        <a routerLink='/blog-detail-left'>
                            <img src="assets/img/blog/b-learn3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'>Where are many variations of passages of Lorem Ipsum available, but the majority have suffered.</a> </h5>
                        <p>Sorem Ipsum is simply dummy text of printing and type setting industr. Unknown printer took a galley of type and scrambled it to make a type specimen book...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </article>
                <div class="exp-pegination">
                    <div class="exp-pegi-prev exp-pegi">
                        <a routerLink='/blog-left'><span>Previous</span></a>
                    </div>
                    <div class="exp-num-pegination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" routerLink='/blog-left'>1</a></li>
                                <li class="page-item"><a class="page-link active" routerLink='/blog-left'>2</a></li>
                                <li class="page-item"><a class="page-link" routerLink='/blog-left'>3</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="exp-pegi-next exp-pegi">
                        <a routerLink='/blog-left'><span>Next</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>