<app-header></app-header>
<header>
    <section class="exp-banner-head primary-overlay" id="exp-inner-banner">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Our Services</h1>
                <p class="text-white">Home<span class="exp-primary-color">Services 2</span></p>
            </div>
        </div>
    </section>
</header>
<div class="exp-services-2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="blue-gradient"><i class="flaticon-shout"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Digital Marketing</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="orange-gradient"><i class="flaticon-computer"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Design and Code</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-idea-1"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Creative Solutions</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-target"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Site Management</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="green-gradient"><i class="flaticon-supermarket"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Ecommerce Solutions</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-download"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Cloud Storage</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>