<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-about-1 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">About Us</h1>
                <p class="text-white">Home<span class="exp-primary-color">About Us 1</span></p>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-product-section exp-about-product1">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h3>Exvox is the Best Digital Agency Since 1998 in USA</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <button type="button" class="btn btn-primary btn-top-50">Learn More</button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side">
                        <img src="assets/img/about-us-1/about.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product b-->
<section class="section-padding exp-product-section exp-about-product2 light-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side">
                        <img src="assets/img/about-us-1/startup.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h3>How We Work for Your Business and Startup to Achieve Goal</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient">1</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Define Buisness Problems</h6>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="orange-gradient">2</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>User Analysis and Market Research</h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content when looking at its layout.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="green-gradient">3</p>
                            </div>
                            <div class="exp-points-txt">
                                <h6>Prototype the ideas and User Testing</h6>
                                <p>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-about-video exp-pricing-plans">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-title">
                    <h3>Why Choose Us</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
                <ul class="exp-product-points">
                    <li><span><i class="flaticon-checkmark"></i></span><span>100% Customer Satisfaction
                        </span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>RealTime Delivery</span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>Dedicated Support Team</span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>Money Back Guarantee</span></li>
                </ul>
                <div class="exp-tab-wrap">
                    <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Mission-tab" data-toggle="tab" href="#Mission" role="tab" aria-controls="Mission" aria-selected="true">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="Vision-tab" data-toggle="tab" href="#Vision" role="tab" aria-controls="Vision" aria-selected="false">Vision</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 blue-top">
                <div class="tab-content clearfix exp-about2-tab">
                    <div class="tab-pane active" id="Vision">
                        <div class="about-video-wrap">
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-1.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-2.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-3.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Mission">
                        <div class="about-video-wrap">
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-3.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-2.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                            <div class="video-item">
                                <div class="vid-img">
                                    <img src="assets/img/about-us-1/v-1.jpg" alt="image">
                                </div>
                                <div class="vid-btn">
                                    <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding light-bg exp-about-workflow">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side video-img">
                        <div class="img-wrap">
                            <img src="assets/img/about-us-1/work-flow.jpg" alt="image">
                        </div>
                        <div class="video-btn-wrapper">
                            <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-workflow-content">
                        <h3>Our Workflow and Procedure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6">
                            <div class="workflow-item">
                                <div class="icon-block">
                                    <i class="flaticon-target"></i>
                                </div>
                                <div class="content">
                                    <h6>User Research</h6>
                                    <p>Apparent was a dead black had ceased twinkle.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="workflow-item">
                                <div class="icon-block">
                                    <i class="flaticon-pie-chart"></i>
                                </div>
                                <div class="content">
                                    <h6>Data Analytics</h6>
                                    <p>Apparent was a dead black had ceased twinkle.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-values">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Core Values</h3>
            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-about-testimonial light-bg">
    <div class="container">
        <div class="section-title-center">
            <h3>Client Feedback</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-about1-slider">
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-3.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-2.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-3.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-4.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-2.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/about-us-1/client-1.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-team-2">
    <div class="container">
        <div class="section-title-center">
            <h3>Meet With Team Leaders</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-1/t-1.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Leontine F.Orton</h6>
                            <p>Project Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-one'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-1/t-2.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Micheal Phillips</h6>
                            <p>Product Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-one'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-1/t-3.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Farista David</h6>
                            <p>UI Designer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-one'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/about-us-1/t-4.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Rachel Maroon</h6>
                            <p>Programmer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/about-one'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/about-one'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>