<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-service primary-overlay ">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Our Services</h1>
                <p class="text-white">Home<span class="exp-primary-color">Services 1</span></p>
            </div>
        </div>
    </section>
</header>
<div class="exp-services-1 section-padding">
    <div class="container">
        <div class="section-title-center">
            <h3>Services We Offer</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s1.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Digital Marketing</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s2.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Site Ranking(SEO)</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s3.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Investment Analysis</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s4.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Buisness Development</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s5.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Ecommerce Solutions</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-services-img">
                        <img src="assets/img/Services/s6.jpg" alt="image">
                    </div>
                    <div class="exp-services-content">
                        <h6>Buisness Development</h6>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/service-one'>Learn More<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>