<!--==Footer==-->
<footer class="exp-footer-style-2" id="exp-home3-footer">
    <div class="exp-footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-left">
                            <h6>About Us</h6>
                            <div class="exp-footer-item-inner">
                                <p>Lorem Ipsum is not simply random text It has roots in a piece of classical Latin literature Latin.</p>
                            </div>
                            <div class="exp-wrapper exp-footer-contact">
                                <div class="exp-footer-item-left">
                                    <ul>
                                        <li><span><i class="fas fa-phone-volume"></i></span><span>+880 1234 5678</span></li>
                                    </ul>
                                    <ul>
                                        <li><span><i class="far fa-envelope"></i></span><a href="javascript:void(0)">contact@example.com</a></li>
                                    </ul>
                                    <ul>
                                        <li><span><i class="fas fa-map-marker-alt"></i></span><span>123 level 5, New York USA</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Generals</h6>
                            <ul>
                                <li><a routerLink='/about-one'>About</a></li>
                                <li><a routerLink='/service-one'>Service</a></li>
                                <li><a routerLink='/blog-left'>Blog</a></li>
                                <li><a routerLink='/contact-one'>Customer Supports</a></li>
                                <li><a routerLink='/pricing-one'>Pricing</a></li>
                                <li><a routerLink='/service-two'>What'New</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 padding-right-0">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center-2">
                            <h6>Important Links</h6>
                            <ul>
                                <li><a routerLink='/team-one'>Team Member</a></li>
                                <li><a routerLink='/blog-detail-left'>Blog</a></li>
                                <li><a routerLink='/project-one'>Project</a></li>
                                <li><a routerLink='/contact-one'>Career</a></li>
                                <li><a routerLink='/faq-one'>Faq</a></li>
                                <li><a routerLink='/contact-two'>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6">
                    <div class="exp-wrapper">
                        <div class="exp-footer-item-center">
                            <h6>Connect Us</h6>
                            <ul>
                                <li><a routerLink='/contact-one'>Newsletter</a></li>
                                <li><a routerLink='/contact-one'>Twitter</a></li>
                                <li><a routerLink='/contact-one'>Facebook</a></li>
                                <li><a routerLink='/contact-one'>Instagram</a></li>
                                <li><a routerLink='/contact-one'>AppStore</a></li>
                                <li><a routerLink='/contact-one'>Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid exp-dark-bg exp-footer-copyright" id="exp-home3-copyright">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-4">
                    <div class="exp-copyright-left">
                        <p class="text-white">Copyright © <a href="javascript:void(0)" class="text-white">Metropolitanthemes</a> - 2022</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-8">
                    <div class="exp-copyright-right">
                        <ul class="inline-block">
                            <li><a href="javascript:void(0)" class="text-white">Terms and Conditions</a></li>
                            <li><a href="javascript:void(0)" class="text-white">Privacy &amp; Policy</a></li>
                            <li><a href="javascript:void(0)" class="text-white">Legal</a></li>
                            <li><a href="javascript:void(0)" class="text-white">Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>