<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-2 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Our Services</h1>
                <p class="text-white">Home<span class="exp-primary-color">Services 3</span></p>
            </div>
        </div>
    </section>
</header>
<section class="section-padding exp-services-a exp-services-3">
    <div class="container">
        <div class="section-title-center">
            <h3>What Services We Offers</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="shout-icon-block"><i class="flaticon-shout shout-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Digital Marketing</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="code-icon-block"><i class="flaticon-computer code-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Design and Code</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="bulb-icon-block"><i class="flaticon-idea-1 bulb-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Creative Solutions</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="bulb-icon-block"><i class="flaticon-target bulb-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Site Management</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="code-icon-block cart-icon-block"><i class="flaticon-supermarket cart-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Ecommerce Solutions</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="shout-icon-block"><i class="flaticon-download shout-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h6>Cloud Storage</h6>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>