<app-header></app-header>
<header>
    <section class="exp-home1-header exp-dark-bg exp-home3-header">
        <div class="exp-home1-slider">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We are here to solve your business problems</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-3/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We are here to solve your business problems</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-3/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We are here to solve your business problems</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-3/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,100 100,0 100,100" />
        </svg>
    </section>
</header>
<section class="exp-services-2 section-padding">
    <div class="container">
        <div class="section-title-center">
            <h2>What Services We Offers</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="green-gradient"><i class="flaticon-shout"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Digital Marketing</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="orange-gradient"><i class="flaticon-computer"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Design and Code</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-idea-1"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Creative Solutions</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-about-product2 exp-secondary-bg exp-home3-product2">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h2>Why Choose Our Services for Your
                                Business and Startup</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient"><i class="flaticon-feedback"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex margin-l-30">
                            <div class="exp-num-block">
                                <p class="orange-gradient"><i class="flaticon-pie-chart"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>It is a long establish fact that a reader will be distract by the readable content.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex margin-l-50">
                            <div class="exp-num-block">
                                <p class="green-gradient"><i class="flaticon-target"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing ellabore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side height-50">
                        <img src="assets/img/homepage-3/business.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product c-->
<section class="section-padding exp-product-section">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side height-50">
                        <img src="assets/img/homepage-3/product-1.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Ensure the Success of Your
                            Products and Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/contact-one' class="btn btn-primary btn-top-50">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product d-->
<section class="section-padding exp-product-section exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>Best Digital Agency Since 1998 Over the Internet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        <ul class="exp-product-points">
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available.</span></li>
                        </ul>
                        <a routerLink='/about-one' class="btn btn-primary btn-top-50">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side height-50 bottom">
                        <img src="assets/img/homepage-3/product-2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home3-project">
    <div class="container">
        <h2>Our Project Gallery</h2>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Marketing-tab" data-toggle="tab" href="#Marketing" role="tab" aria-controls="Marketing" aria-selected="true">Marketing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Design-tab" data-toggle="tab" href="#Design" role="tab" aria-controls="Design" aria-selected="false">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Development-tab" data-toggle="tab" href="#Development" role="tab" aria-controls="Development" aria-selected="false">Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Supports-tab" data-toggle="tab" href="#Supports" role="tab" aria-controls="Supports" aria-selected="false">Supports</a>
                </li>
            </ul>
        </div>
        <div class="top-wrapper row">
            <div class="col-12">
                <div class="tab-wrapper">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Marketing" aria-labelledby="Marketing-tab">
                            <div class="home3-slider">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                          <img src="assets/img/project/homepage-3-g/h3-p-1.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-2.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-3.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Investment Monitoring</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-4.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Data Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-5.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-6.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="Design" aria-labelledby="Design-tab">
                            <div class="home3-slider">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-6.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-5.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-4.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Investment Monitoring</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-3.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Data Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-2.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-1.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="Development" aria-labelledby="Development-tab">
                            <div class="home3-slider">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-4.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-3.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-5.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Investment Monitoring</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-6.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Data Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-2.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-1.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="Supports" aria-labelledby="Supports-tab">
                            <div class="home3-slider">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-5.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-1.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-6.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Investment Monitoring</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-3.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Data Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-4.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Smart Office Management</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="img">
                                                <img src="assets/img/project/homepage-3-g/h3-p-2.jpg" alt="image">
                                        </div>
                                        <div class="content">
                                            <a routerLink='/project-two'>
                                                <p>Buisness Analytics</p>
                                                <span><i class="flaticon-right-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding primary-overlay exp-home3-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="video-title">
                    <h2>How We Work for You</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="video-points">
                            <div>
                                <span>1</span>
                            </div>
                            <div class="content">
                                <h6>Proper Market research</h6>
                                <p>There are many variations of passages of Lorem Ipsum available but the major.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-points">
                            <div>
                                <span>2</span>
                            </div>
                            <div class="content">
                                <h6>User Data Collections</h6>
                                <p>It is a long established fact that a reader will be distracted by readable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-points">
                            <div>
                                <span>3</span>
                            </div>
                            <div class="content">
                                <h6>Design and Develope the Ideas</h6>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-points">
                            <div>
                                <span>4</span>
                            </div>
                            <div class="content">
                                <h6>Prototype the Ideas for Test</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="video-btn-wrapper">
                    <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home3-testimonial">
    <div class="container">
        <div class="section-title-center">
            <h2>What Client Says About Us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="home3-testimonial">
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-2.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-3.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-4.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-5.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-2.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                    <div class="testimonial-item">
                        <div class="img-cover">
                            <img src="assets/img/homepage-3/client-1.jpg" alt="image" class="d-block mx-auto img-fluid">
                            <a routerLink='/home-three'><i class="fab fa-twitter"></i></a>
                        </div>
                        <p><i>Rafarently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <h6>Sadiya Islam Tithi</h6>
                        <p>UX Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-pricing-plans exp-home3-price exp-secondary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-content-center">
                <div class="about-title">
                    <h3>Our Pricing and Plans</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
                <ul class="exp-product-points">
                    <li><span><i class="flaticon-checkmark"></i></span><span>No Hidden Charge
                        </span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>Regular Free Updates</span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>Lifetime Access</span></li>
                    <li><span><i class="flaticon-checkmark"></i></span><span>Money Back Guarantee</span></li>
                </ul>
                <div class="exp-tab-wrap">
                    <ul class="nav nav-pills exp-pricing-tabs" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="Monthly-tab" data-toggle="tab" href="#Monthly" role="tab" aria-controls="Monthly" aria-selected="true">Monthly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="Yearly-tab" data-toggle="tab" href="#Yearly" role="tab" aria-controls="Yearly" aria-selected="false">Yearly</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="tab-content clearfix">
                    <div class="tab-pane fade show active" id="Yearly">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="price-block top-50">
                                    <div class="price-top">
                                        <span><i class="flaticon-rocket"></i></span>
                                        <p>Buisness</p>
                                    </div>
                                    <div class="price-mid">
                                        <ul>
                                            <li>Brand Development</li>
                                            <li>User Analysis</li>
                                            <li>Project Management</li>
                                            <li>Market Research</li>
                                            <li>Problem Solutions</li>
                                        </ul>
                                    </div>
                                    <div class="price-bottom">
                                        <h4>$550</h4>
                                        <a routerLink='/pricing-three' class="btn btn-outline-primary">Select Plan</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="price-block">
                                    <div class="price-top">
                                        <span><i class="flaticon-urban"></i></span>
                                        <p>Enterprice</p>
                                    </div>
                                    <div class="price-mid">
                                        <ul>
                                            <li>Brand Development</li>
                                            <li>User Analysis</li>
                                            <li>Project Management</li>
                                            <li>Market Research</li>
                                            <li>Problem Solutions</li>
                                            <li>Work Structure</li>
                                            <li>Data Visualization</li>
                                        </ul>
                                    </div>
                                    <div class="price-bottom">
                                        <h4>$799</h4>
                                        <a routerLink='/pricing-three' class="btn btn-outline-primary">Select Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="Monthly">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="price-block top-50">
                                    <div class="price-top">
                                        <span><i class="flaticon-rocket"></i></span>
                                        <p>Buisness</p>
                                    </div>
                                    <div class="price-mid">
                                        <ul>
                                            <li>Brand Development</li>
                                            <li>User Analysis</li>
                                            <li>Project Management</li>
                                            <li>Market Research</li>
                                            <li>Problem Solutions</li>
                                        </ul>
                                    </div>
                                    <div class="price-bottom">
                                        <h4>$550</h4>
                                        <a routerLink='/pricing-three' class="btn btn-outline-primary">Select Plan</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="price-block">
                                    <div class="price-top">
                                        <span><i class="flaticon-urban"></i></span>
                                        <p>Enterprice</p>
                                    </div>
                                    <div class="price-mid">
                                        <ul>
                                            <li>Brand Development</li>
                                            <li>User Analysis</li>
                                            <li>Project Management</li>
                                            <li>Market Research</li>
                                            <li>Problem Solutions</li>
                                            <li>Work Structure</li>
                                            <li>Data Visualization</li>
                                        </ul>
                                    </div>
                                    <div class="price-bottom">
                                        <h4>$799</h4>
                                        <a routerLink='/pricing-three' class="btn btn-outline-primary">Select Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home3-blog">
    <div class="container">
        <div class="section-title-center">
            <h2>Latest Project Updates</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="post-article">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-3/updates-1.jpg" alt="image"></a>
                    </div>
                    <div class="post-content">
                        <div class="author-meta">
                            <a routerLink='/home-three'> 25 January , 2022</a>
                        </div>
                        <h5><a routerLink='/blog-detail-left'>New Step By Step Roadmap For StartUp in USA</a></h5>
                        <p>It is a long established fact that a reader will be distracted by the readable...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="post-article">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-3/updates-2.jpg" alt="image"></a>
                    </div>
                    <div class="post-content">
                        <div class="author-meta">
                            <a routerLink='/home-three'> 25 January , 2022</a>
                        </div>
                        <h5><a routerLink='/blog-detail-left'>Successful Stories You Didn't Know About Buisness</a></h5>
                        <p>Lorem Ipsum is simply dumy text of the printing and typesetting industry...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="post-article">
                    <div class="post-img">
                        <a routerLink='/blog-detail-left'><img src="assets/img/homepage-3/updates-3.jpg" alt="image"></a>
                    </div>
                    <div class="post-content">
                        <div class="author-meta">
                            <a routerLink='/home-three'> 25 January , 2022</a>
                        </div>
                        <h5><a routerLink='/blog-detail-left'>Improve Your Business With These 8 Simple Tricks</a></h5>
                        <p>There are many variations of passages of the rock Ipsum available, but the majority...</p>
                        <div class="exp-link-wrap">
                            <a routerLink='/blog-detail-left' class="exp-primary-color">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="section-padding primary-overlay exp-home3-newsletter">
    <div class="container">
        <div class="section-title-center">
            <h3 class="text-white">Subscribe Newsletter</h3>
            <p class="light-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </form>
        <ul class="inline-block">
            <li><a routerLink='/home-three'><i class="fab fa-facebook-f"></i></a></li>
            <li><a routerLink='/home-three'><i class="fab fa-twitter"></i></a></li>
            <li><a routerLink='/home-three'><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
    </div>
</section>
<app-footer-three></app-footer-three>
