<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-p primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Pricing</h1>
                <p class="text-white">Home<span class="exp-primary-color">Pricing 1</span></p>
            </div>
        </div>
    </section>
</header>
<!--Price and Plans -->
<section class="section-padding exp-pricing-plans">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Pricing and Plans</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Monthly-tab" data-toggle="tab" href="#Monthly" role="tab" aria-controls="Monthly" aria-selected="true">Monthly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Annualy-tab" data-toggle="tab" href="#Annualy" role="tab" aria-controls="Annualy" aria-selected="false">Yearly</a>
                </li>
            </ul>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="Monthly">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Professional</h6>
                                <p class="exp-price-mrp">$49</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Startup</h6>
                                <p class="exp-price-mrp">$99</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Enterprise</h6>
                                <p class="exp-price-mrp">$499</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Annualy">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Professional</h6>
                                <p class="exp-price-mrp">$49</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Startup</h6>
                                <p class="exp-price-mrp">$99</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none">
                            <div class="exp-pricing-plans-top">
                                <h6>Enterprise</h6>
                                <p class="exp-price-mrp">$499</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Our Values-->
<section class="section-padding exp-values exp-secondary-bg">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Core Values</h3>
            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>