<app-header></app-header>
<header>
    <section class="exp-banner-head primary-overlay" id="exp-inner-banner">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Team Members</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Team 2</span></p>
            </div>
        </div>
    </section>
</header>
<div class="section-padding exp-team-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-1.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Leontine F.Orton</h6>
                            <p>Project Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-3.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Micheal Phillips</h6>
                            <p>Product Manager</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-2.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Farista David</h6>
                            <p>UI Designer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-7.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Rachel Maroon</h6>
                            <p>Programmer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-9.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Leontine F.Orton</h6>
                            <p>Web Developer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-5.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Alfred Danny</h6>
                            <p>Web Desginer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-4.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Leonardo Vinci</h6>
                            <p>Digital Marketer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-2/team-2-6.jpg" alt="image">
                        <div class="exp-team-content">
                            <h6>Brad Pit</h6>
                            <p>UX Desginer</p>
                            <ul class="inline-block">
                                <li><a routerLink='/team-two'><i class="fab fa-facebook-f"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-twitter"></i></a></li>
                                <li><a routerLink='/team-two'><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>