<app-header></app-header>
<header>
    <section class="exp-home1-header exp-dark-bg">
        <div class="exp-home1-slider">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We are here to solve your business problems</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-1/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">New trend to grow your business</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-1/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-content-center">
                            <div class="exp-header-item">
                                <h1 class="text-white">We are here to solve your business problems</h1>
                                <p class="light-color">Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                                <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="exp-img-wrapper">
                                <img src="assets/img/homepage-1/banner.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<!--END Header-->
<!--Services a-->
<section class="section-padding exp-services-a">
    <div class="container">
        <div class="section-title-center">
            <h2>What Services We Offers</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesettings industry. Lorem Ipsum has been the industry's Standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="shout-icon-block"><i class="flaticon-shout shout-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Digital Marketing</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="code-icon-block"><i class="flaticon-computer code-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Design and Code</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="exp-services-item">
                    <div class="exp-icon-block">
                        <span class="bulb-icon-block"><i class="flaticon-idea-1 bulb-color"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Creative Solutions</h5>
                        <p>Apparently we had reached a great height in the atmosphere for the sky was a dead black had ceased to twinkle</p>
                    </div>
                    <div class="exp-link-wrap">
                        <a routerLink='/service-three'>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Services a-->
<!--Product a-->
<section class="section-padding exp-product-section exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side">
                        <img src="assets/img/homepage-1/product-1.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Ensure the Success of Your Products and Business</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse
                            ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida. </p>
                        <a routerLink='/contact-one' class="btn btn-primary btn-top-70">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product b-->
<section class="section-padding exp-product-section">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2 class="title-padding-right">Best Digital Agency Since 1998 Over the Internet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        <ul class="exp-product-points">
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available.</span></li>
                        </ul>
                        <a routerLink='/about-one' class="btn btn-primary btn-top-70">Learn more</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side">
                        <img src="assets/img/homepage-1/product-2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Product c-->
<section class="section-padding exp-product-section exp-secondary-bg">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side">
                        <img src="assets/img/homepage-1/product-3.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>We Achieved the Trust of Thousands
                            Customer Across the World</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. </p>
                        <div class="exp-designation">
                            <h6>Rashadel Islam Kabir</h6>
                            <p class="exp-primary-color">CEO and Founder</p>
                        </div>
                        <div class="exp-img-signature">
                            <img src="assets/img/homepage-1/sign.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-portfolio">
    <div class="container">
        <div class="section-title-center">
            <h2>Our Top Projects</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
    </div>
    <div class="exp-home1-grid magnific-gallery">
        <div class="grid-item grid-sizer"><a href="assets/img/project/h-project-1.jpg"><img src="assets/img/project/h-project-1.jpg" alt="image"></a></div>
        <div class="grid-item grid-item--width2 grid-sizer"><a href="assets/img/project/h-project-2.jpg"><img src="assets/img/project/h-project-2.jpg" alt="image"></a></div>
        <div class="grid-item grid-sizer"><a href="assets/img/project/h-project-3.jpg"><img src="assets/img/project/h-project-3.jpg" alt="image"></a></div>
        <div class="grid-item grid-item--width2 grid-sizer"><a href="assets/img/project/h-project-4.jpg"><img src="assets/img/project/h-project-4.jpg" alt="image"></a></div>
        <div class="grid-item grid-sizer"><a href="assets/img/project/h-project-5.jpg"><img src="assets/img/project/h-project-5.jpg" alt="image"></a></div>
        <div class="grid-item grid-sizer"><a href="assets/img/project/h-project-6.jpg"><img src="assets/img/project/h-project-6.jpg" alt="image"></a></div>
    </div>
</section>
<!--Achievments-->
<section class="section-padding exp-achievments primary-overlay">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side video-img">
                        <div class="img-wrap">
                            <img src="assets/img/homepage-1/video.jpg" alt="image">
                        </div>
                        <div class="video-btn-wrapper">
                            <div class="circle"><a class="video-btn popup-video" href="https://www.youtube.com/watch?v=pbiEfJd2Hpw"><i class="fas fa-play"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-achievments-wrap col-content-center">
                        <div class="exp-achievments-content">
                            <h2 class="text-white">We Achieved the Trust Over 40k Customers</h2>
                            <p class="light-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="achievments-counter d-flex">
                                    <span class="icon-block"><i class="flaticon-user"></i></span>
                                    <div class="counter-number">
                                        <span class="counter">40</span><span>k</span>
                                        <p>Total Users</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="achievments-counter d-flex">
                                    <span class="icon-block"><i class="flaticon-rocket-1"></i></span>
                                    <div class="counter-number">
                                        <span class="counter">35</span><span>k</span>
                                        <p>Successful Projects</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="achievments-counter d-flex">
                                    <span class="icon-block"><i class="flaticon-review"></i></span>
                                    <div class="counter-number">
                                        <span class="counter">23</span><span>k</span>
                                        <p>User Ratings</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="achievments-counter d-flex">
                                    <span class="icon-block"><i class="flaticon-feedback"></i></span>
                                    <div class="counter-number">
                                        <span class="counter">30</span><span>k</span>
                                        <p>Positive Feedback</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial-->
<section class="section-padding exp-testimonial-1">
    <div class="container">
        <div class="section-title-center">
            <h2>What Customers Says About Us</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-testimonial-slider1">
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-1.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-2.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content margin-right-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-3.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-4.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content margin-right-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-2.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
            <div class="exp-testimonial-item">
                <div class="exp-img-wrapper">
                    <img src="assets/img/homepage-1/testimonial-1.jpg" alt="image">
                </div>
                <div class="exp-testimonial-content margin-right-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                    <ul class="inline-block">
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                        <li><i class="fas fa-star exp-gold"></i></li>
                    </ul>
                    <h6>Sadiya Islam Tithi</h6>
                    <p class="exp-primary-color">UX Designer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Price and Plans -->
<section class="section-padding exp-pricing-plans exp-secondary-bg">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Pricing and Plans</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Monthly-tab" data-toggle="tab" href="#Monthly" role="tab" aria-controls="Monthly" aria-selected="true">Monthly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Annualy-tab" data-toggle="tab" href="#Annualy" role="tab" aria-controls="Annualy" aria-selected="false">Yearly</a>
                </li>
            </ul>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="Monthly">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Professional</h4>
                                <p class="exp-price-mrp">$49</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Startup</h4>
                                <p class="exp-price-mrp">$99</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Enterprise</h4>
                                <p class="exp-price-mrp">$499</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Annualy">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Professional</h4>
                                <p class="exp-price-mrp">$49</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Startup</h4>
                                <p class="exp-price-mrp">$99</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover">
                            <div class="exp-pricing-plans-top">
                                <h4>Enterprise</h4>
                                <p class="exp-price-mrp">$499</p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                    <li>User Analysis</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-one' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Us-->
<section class="section-padding exp-contact-us">
    <div class="container">
        <div class="contact-us-wrapper">
            <div class="section-title-center">
                <h6>Do You Have Any Project to Share With Us?</h6>
                <h5>Contact Us</h5>
            </div>
            <div class="exp-wrapper text-center">
                <a routerLink='/contact-one' class="btn btn-primary">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>