<div id="exp-blog-details">
<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-details-r primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Blog Details Right</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Blog Details Right</span></p>
            </div>
        </div>
    </section>
</header>
<div id="exp-blog5" class="section-padding light-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <article class="exp-blog-post-wrap exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">28</span>
                            <span class="month">June</span>
                        </div>
                        <a routerLink='/blog-detail-right'>
                            <img src="assets/img/blog/b-learn1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-right'> There are many variations of passages of Lorem Ipsum available, but
                                the majority have suffered.</a> </h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic type
                            setting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="exp-blog-wrapper-2">
                        <div class="exp-blog-video-post">
                            <img src="assets/img/blog/b-learn2.jpg" alt="">
                            <div class="video-btn-wrapper">
                                <a href="https://www.youtube.com/watch?v=pbiEfJd2Hpw" class="video-btn popup-video"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic type
                            setting, remaining essentially unchanged.</p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop publishing software like
                            Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </article>
                <div class="exp-tag-social pt-20 pt-sm-15 pb-20 mt-30">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="social-share mt-lg-15 d-flex"> <span class="f-700 mr-15">Share Now </span>
                                <ul class="social-icons footer-social social-md inline-block">
                                    <li class="fb"> <a href=""><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="tweet"> <a href=""><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li class="messenger"> <a href=""><i class="fab fa-facebook-messenger"></i></a>
                                    </li>
                                    <li class="pintrist"> <a href=""><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                    <li class="whastsapp"> <a href=""><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="comments">
                    <div class="all_comments">
                        <h4>Three Response To "Post Title"</h4>
                        <ul class="commentlist">
                            <li class="comment">
                                <div class="comment the-comment">
                                    <div class="comment-avatar">
                                        <img alt="image" src="assets/img/blog/blog-left-1.jpg" class="avatar rounded-circle">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <span class="comment-time"> 15th May, 2022</span>
                                            <span class="comment-author"> <a routerLink='/blog-detail-right' class="url">Rosalina Pong</a></span>
                                        </div>
                                        <div class="text">
                                            <div class="comment-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                    commodo consequat.</p>
                                                <span class="reply"> <a rel="nofollow" class="comment-reply-link" routerLink='/blog-detail-right'><i class="fa fa-reply"></i> Reply</a> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comment">
                                <div class="comment the-comment">
                                    <div class="comment-avatar">
                                        <img alt="image" src="assets/img/blog/blog-left-2.jpg" class="avatar rounded-circle">
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <span class="comment-time"> 19th May, 2022</span>
                                            <span class="comment-author"> <a routerLink='/blog-detail-right' class="url">Arista Williamson</a></span>
                                        </div>
                                        <div class="text">
                                            <div class="comment-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                    commodo consequat.</p>
                                                <span class="reply"> <a rel="nofollow" class="comment-reply-link" routerLink='/blog-detail-right'><i class="fa fa-reply"></i> Reply</a> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-answer">
                                    <li class="comment-replay">
                                        <div class="comment the-comment">
                                            <div class="comment-avatar">
                                                <img alt="image" src="assets/img/blog/blog-left-3.jpg" class="avatar rounded-circle">
                                            </div>
                                            <div class="comment-content">
                                                <div class="comment-meta">
                                                    <span class="comment-time"> 19th May, 2022</span>
                                                    <span class="comment-author"> <a routerLink='/blog-detail-right' class="url">Arista Williamson</a></span>
                                                </div>
                                                <div class="text">
                                                    <div class="comment-text">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                            commodo consequat.</p>
                                                        <span class="reply"> <a rel="nofollow" class="comment-reply-link" routerLink='/blog-detail-right'><i class="fa fa-reply"></i> Reply</a> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /all-comment -->
                    <!-- comment-form-->
                    <div id="respond" class="comment-respond">
                        <h4>Post Comment</h4>
                        <form id="commentform" class="comment-form">
                            <div class="form-group">
                                <label>Name</label>
                                <div class="name_input">
                                    <input type="text" class="form-control" placeholder="Type name Name....">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <div class="name_input">
                                    <input type="email" class="form-control" placeholder="Type name email....">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Website</label>
                                <div class="web_input">
                                    <input type="text" class="form-control" placeholder="Type your website....">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                <div class="msg_input">
                                    <textarea cols="45" rows="3" class="form-control" placeholder="Type your comments...."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-top-50 text-center" value="Post comment" type="button">Post Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>