<app-header-two></app-header-two>
<header>
    <section class="exp-home1-header">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-content-center">
                        <div class="exp-header-item">
                            <h1>We Are Pro Data Analysist for Successful Business</h1>
                            <p>Apparently we had reached a great height in the atmosphere.for the sky was a dead black,and the stars had ceased to twinkle.By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside</p>
                            <a routerLink='/home-six' class="btn btn-primary btn-top-70">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="exp-img-wrapper">
                            <img src="assets/img/homepage-6/banner.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="exp-services-2 section-padding">
    <div class="container">
        <div class="section-title-center">
            <h2>Discover The Best Values</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="purple-gradient"><i class="flaticon-shout"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Digital Marketing</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="orange-gradient"><i class="flaticon-computer"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Design and Code</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="exp-services-wrapper box-shadow">
                    <div class="exp-icon-block">
                        <span class="green-gradient"><i class="flaticon-idea-1"></i></span>
                    </div>
                    <div class="exp-services-content">
                        <h5>Creative Solutions</h5>
                        <p>Apparently we had reached great height in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                    </div>
                    <div class="exp-arrow">
                        <a routerLink='/service-two'><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section exp-about-product2  exp-home3-product2">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="exp-img-wrapper left-side height-50 top-0">
                        <img src="assets/img/homepage-6/about.jpg" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-product-content">
                        <div class="exp-product-title">
                            <h2>Why Choose Our Services for Your
                                Business and Startup</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="purple-gradient"><i class="flaticon-feedback"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="orange-gradient"><i class="flaticon-pie-chart"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>It is a long establish fact that a reader will be distract by the readable content.</p>
                            </div>
                        </div>
                        <div class="exp-points d-flex">
                            <div class="exp-num-block">
                                <p class="green-gradient"><i class="flaticon-analytics"></i></p>
                            </div>
                            <div class="exp-points-txt">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing ellabore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-product-section">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>Best Digital Agency Since 1998 Over the Internet</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas.</p>
                        <ul class="exp-product-points">
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered.</span></li>
                            <li><span><i class="flaticon-checkmark"></i></span><span>There are many variations of passages of Lorem Ipsum available.</span></li>
                        </ul>
                        <a routerLink='/about-one' class="btn btn-primary btn-top-50">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exp-img-wrapper right-side height-50 bottom">
                        <img src="assets/img/homepage-6/product-2.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-home6-services exp-services-2">
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="exp-services-wrapper box-shadow">
                                <div class="exp-icon-block">
                                    <span class="purple-gradient"><i class="flaticon-analytics"></i></span>
                                </div>
                                <div class="exp-services-content">
                                    <h6>Analytics Report</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="exp-services-wrapper box-shadow">
                                <div class="exp-icon-block">
                                    <span class="orange-gradient"><i class="flaticon-support"></i></span>
                                </div>
                                <div class="exp-services-content">
                                    <h6>Live Supports</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="exp-services-wrapper box-shadow">
                                <div class="exp-icon-block">
                                    <span class="blue-gradient"><i class="flaticon-sale"></i></span>
                                </div>
                                <div class="exp-services-content">
                                    <h6>Live Supports</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="exp-services-wrapper box-shadow">
                                <div class="exp-icon-block">
                                    <span class="green-gradient"><i class="flaticon-review-1"></i></span>
                                </div>
                                <div class="exp-services-content">
                                    <h6>Live Supports</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-content-center">
                    <div class="exp-product-content">
                        <h2>Why Choose Our Services for Your Business and Startup</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ndisse ultrices gravida. Risus commodo viverra maecenas</p>
                        <p>ccumsanamet, consectetur adipiscing elit, sed do eiusmod tempor incid
                            idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            Letraset sheets containing gravida.</p>
                        <a routerLink='/service-two' class="btn btn-primary btn-top-50">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-project-2 exp-home2-portfolio  exp-home6-project">
    <div class="container">
        <div class="section-title-center">
            <h2>Our Project Gallery</h2>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="Marketing-tab" data-toggle="tab" href="#Marketing" role="tab" aria-controls="Marketing" aria-selected="true">Marketing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="Design-tab" data-toggle="tab" href="#Design" role="tab" aria-controls="Design" aria-selected="false">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Development-tab" data-toggle="tab" href="#Development" role="tab" aria-controls="Development" aria-selected="false">Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Supports-tab" data-toggle="tab" href="#Supports" role="tab" aria-controls="Supports" aria-selected="false">Supports</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container portfolio-cont">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="Marketing">
                        <div class="wrapper">
                            <div class="home2-portfolio">
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                                <div class="item">
                                    <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Design">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Development">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane  fade" id="Supports">
                        <div class="home2-portfolio">
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-3.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-5.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-2.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-6.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-4.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                            <div class="item">
                                <img src="assets/img/homepage-6/homepage-6-pro-1.jpg" alt="image" class="img-fluid mx-auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Price and Plans -->
<section class="section-padding exp-pricing-plans-3 exp-home6-pricing">
    <div class="container">
        <div class="section-title-center">
            <h3>Pricing and Packages</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-tab-wrap">
            <ul class="nav nav-pills exp-pricing-tabs" id="myTab1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="Monthly-tab" data-toggle="tab" href="#Monthly" role="tab" aria-controls="Monthly" aria-selected="true"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="Annualy-tab" data-toggle="tab" href="#Annualy" role="tab" aria-controls="Annualy" aria-selected="false"></a>
                </li>
            </ul>
            <div class="tab-switch-text">
                <span class="monthly-txt">Monthly</span>
                <span>|</span>
                <span class="annualy-txt active-color">Annual</span>
            </div>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="Monthly">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$19</p>
                                <h4>Startup</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto border-l-r">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$49</p>
                                <h4>Buisness</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$99</p>
                                <h4>Enterprise</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Annualy">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$19</p>
                                <h4>Startup</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$49</p>
                                <h4>Buisness</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner">
                            <div class="exp-pricing-plans-top">
                                <p class="exp-price-mrp">$99</p>
                                <h4>Enterprise</h4>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-three' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-about-testimonial">
    <div class="container">
        <div class="section-title-center">
            <h2>Client Feedback</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="exp-about1-slider">
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-1.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-2.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-3.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-4.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-1.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="testimonial-item">
                    <div class="testimonial-img">
                        <img src="assets/img/homepage-6/client-3.jpg" alt="image" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="testimonial-content">
                        <span><i class="flaticon-left-quote"></i></span>
                        <p><i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</i></p>
                        <ul class="inline-block">
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                            <li><i class="flaticon-rate-star-button exp-gold"></i></li>
                        </ul>
                        <div class="author">
                            <span></span>
                            <div>
                                <h6>Sadiya Islam Tithi</h6>
                                <p>UX Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="exp-blog5" class="section-padding">
    <div class="container">
        <div class="section-title-center">
            <h2>Latest Blog Posts</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">29</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-6/h6-blog1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline One</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">28</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-6/h6-blog2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Two</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="exp-blog-wrapper">
                    <div class="exp-blog-imag">
                        <div class="blog-meta">
                            <span class="date">24</span>
                            <span class="month">June</span>
                        </div>
                        <div class="post-img">
                            <a routerLink='/blog-detail-left'>
                                <img src="assets/img/homepage-6/h6-blog3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="exp-blog-content">
                        <h5> <a routerLink='/blog-detail-left'> Here is Your Headline Three</a> </h5>
                        <p>Apparently we had reached a great height
                            in the atmosphere for the sky was a dead
                            black had ceased to twinkle.</p>
                        <a routerLink='/blog-detail-left' class="anchor-btn"> Read more<i class="fas fa-angle-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<app-footer-five></app-footer-five>