<app-header></app-header>
<section class="exp-coming-2 primary-overlay">
    <div class="container">
        <div class="exp-logo"><a routerLink='/'><img src="assets/img/logo.png" alt="logo"></a></div>
        <div class="wrapper">
            <div class="section-title">
                <h1 class="text-white">Our Website is <a routerLink='/coming-soon-two'>Under Development</a></h1>
                    <p class="text-white">We are Coming Soon...</p>
            </div>
            <div class="counterup">
                <div class="wrap">
                    <div class="num"><span>0</span><span class="counter">3</span></div>
                    <p>Days</p>
                </div>
                <div class="wrap">
                    <div class="num"><span>0</span><span class="counter">9</span></div>
                    <p>Hours</p>
                </div>
                <div class="wrap">
                    <div class="num"><span class="counter">49</span></div>
                    <p>Minutes</p>
                </div>
                <div class="wrap">
                    <div class="num"><span class="counter">35</span></div>
                    <p>Seconds</p>
                </div>
            </div>
            <form class="form-inline">
                <div class="input-group form-group">
                    <input type="text" class="form-control" placeholder="Email address" aria-label="Email address">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Get Updates</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="exp-footer-social">
            <ul class="inline-block">
                <li><a routerLink='/coming-soon-two'><i class="fab fa-facebook-f"></i></a></li>
                <li><a routerLink='/coming-soon-two'><i class="fab fa-twitter"></i></a></li>
                <li><a routerLink='/coming-soon-two'><i class="fab fa-pinterest-p"></i></a></li>
                <li><a routerLink='/coming-soon-two'><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</section>