<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-head-team-3 primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Team Members</h1>
                <p class="text-white">Home<span>Pages</span><span class="exp-primary-color">Team 3</span></p>
            </div>
        </div>
    </section>
</header>
<div class="section-padding exp-team-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-1.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Leontine F.Orton</h6>
                        <p>Project Manager</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-2.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Leonardo vinci</h6>
                        <p>General Manager</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-3.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Frank Martin</h6>
                        <p>Web Designer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-4.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Racheal Lanny</h6>
                        <p>Senior Designer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-5.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Garry William</h6>
                        <p>Web Developer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-6.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Micheal Viggle</h6>
                        <p>UI Designer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-7.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Brad Jackson</h6>
                        <p>Programmer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="exp-team-item">
                    <div class="exp-team-img">
                        <img src="assets/img/Team/team-3/team-3-8.jpg" alt="image">
                    </div>
                    <div class="exp-team-content">
                        <h6>Markos Samuel</h6>
                        <p>UI/UX Designer</p>
                        <ul class="inline-block">
                            <li><a routerLink='/team-three'><i class="fab fa-facebook-f"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-twitter"></i></a></li>
                            <li><a routerLink='/team-three'><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>