<app-header></app-header>
<header>
    <section class="exp-banner-head exp-banner-pricing primary-overlay">
        <div class="container">
            <div class="section-title-center exp-banner-title">
                <h1 class="text-white">Pricing</h1>
                <p class="text-white">Home<span class="exp-primary-color">Pricing 2</span></p>
            </div>
        </div>
    </section>
</header>
<!--Price and Plans -->
<section class="section-padding exp-pricing-plans exp-pricing-plans-2 blue-bottom">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Pricing and Plans</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="tab-content clearfix">
            <div class="tab-pane active padding-0" id="Monthly">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none top-80 pencil-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-pencil></i></span>
                                <h3>Professional</h3>
                                <p class="exp-price-mrp">$39<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none rocket-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-rocket></i></span>
                                <h3>Business</h3>
                                <p class="exp-price-mrp">$59<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                    <li>Product Solutions</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mx-auto">
                        <div class="exp-pricing-plans-inner shadow-hover before-none top-80 building-bg">
                            <div class="exp-pricing-plans-top">
                                <span class="pricing-icon"><i class=flaticon-urban></i></span>
                                <h3>Enterprise</h3>
                                <p class="exp-price-mrp">$99<span>/month</span></p>
                            </div>
                            <div class="exp-pricing-plans-mid">
                                <ul>
                                    <li>Brand Development</li>
                                    <li>User Analysis</li>
                                    <li>Project Management</li>
                                    <li>Market Research</li>
                                </ul>
                            </div>
                            <div class="exp-pricing-btn">
                                <a routerLink='/pricing-two' class="btn theme-border-btn mx-auto"><span>Choose Plan</span> <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-padding exp-values exp-secondary-bg">
    <div class="container">
        <div class="section-title-center">
            <h3>Our Core Values</h3>
            <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-analytics"></i></div>
                    <div class="exp-values-content">
                        <h6>Real User Data</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-sale"></i></div>
                    <div class="exp-values-content">
                        <h6>Affordable Price</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-support"></i></div>
                    <div class="exp-values-content">
                        <h6>Great Support</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="exp-values-item">
                    <div class="icon"><i class="flaticon-review-1"></i></div>
                    <div class="exp-values-content">
                        <h6>Testimonials</h6>
                        <p>Apparent was a dead black had ceased twinkle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>