<app-header></app-header>
<section class="section-padding exp-coming-1 primary-overlay">
    <div class="container">
        <div class="exp-logo text-center"><a routerLink='/'><img src="assets/img/logo.png" alt="logo"></a></div>
        <div class="section-title-center">
            <h1 class="text-white">We are coming soon...</h1>
            <p>Our exciting new website is coming soon, stay tuned!</p>
        </div>
        <div class="countdown">
            <div class="row">
                <div class="col-lg-3 col-content-center col-md-6">
                    <div class="circle-wrap">
                        <div class="circle-fill">
                            <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                                <circle class="progress-circle-back" cx="80" cy="80" r="74"></circle>
                                <circle class="progress-circle-prog" cx="80" cy="80" r="74"></circle>
                            </svg>
                            <div class="progress-text counter">26</div>
                        </div>
                        <p>Days</p>
                    </div>
                </div>
                <div class="col-lg-3 col-content-center col-md-6">
                    <div class="circle-wrap">
                        <div class="circle-fill">
                            <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                                <circle class="progress-circle-back" cx="80" cy="80" r="74"></circle>
                                <circle class="progress-circle-prog  prog-2" cx="80" cy="80" r="74"></circle>
                            </svg>
                            <div class="progress-text"><span>0</span><span class="counter">6</span></div>
                        </div>
                        <p>Hours</p>
                    </div>
                </div>
                <div class="col-lg-3 col-content-center col-md-6">
                    <div class="circle-wrap">
                        <div class="circle-fill">
                            <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                                <circle class="progress-circle-back" cx="80" cy="80" r="74"></circle>
                                <circle class="progress-circle-prog prog-3" cx="80" cy="80" r="74"></circle>
                            </svg>
                            <div class="progress-text counter">45</div>
                        </div>
                        <p>Minutes</p>
                    </div>
                </div>
                <div class="col-lg-3 col-content-center col-md-6">
                    <div class="circle-wrap">
                        <div class="circle-fill">
                            <svg class="progress-circle" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg">
                                <circle class="progress-circle-back" cx="80" cy="80" r="74"></circle>
                                <circle class="progress-circle-prog" cx="80" cy="80" r="74"></circle>
                            </svg>
                            <div class="progress-text counter">50</div>
                        </div>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="exp-footer-social">
            <ul class="inline-block">
                <li><a routerLink='/coming-soon-one'><i class="fab fa-facebook-f"></i></a></li>
                <li><a routerLink='/coming-soon-one'><i class="fab fa-twitter"></i></a></li>
                <li><a routerLink='/coming-soon-one'><i class="fab fa-pinterest-p"></i></a></li>
                <li><a routerLink='/coming-soon-one'><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </div>
</section>